
@{
    ViewData["Title"] = "SaveLayout";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@section styles{
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600" rel="stylesheet" type="text/css">
    <link href="~/lib/appzoo/picktemp/css/styles.css" rel="stylesheet" />
    <link href="~/lib/appzoo/picktemp/css/fontawesomestyles.css" rel="stylesheet" />
    <link href="~/lib/appzoo/picktemp/css/core.css" rel="stylesheet" />
    <link href="~/lib/appzoo/picktemp/css/components.css" rel="stylesheet" />
    <link href="~/lib/appzoo/picktemp/css/colors.css" rel="stylesheet" />
    <link href="~/lib/appzoo/picktemp/css/app.css" rel="stylesheet" />
    <link href="~/lib/appzoo/picktemp/css/theme.css" rel="stylesheet" />
    <link href="~/lib/appzoo/picktemp/css/custom.css" rel="stylesheet" />
    <link href="~/lib/appzoo/picktemp/css/autofill.css" rel="stylesheet" />
    <link href="~/lib/appzoo/picktemp/css/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/lib/appzoo/picktemp/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
}
<div class="">
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h1>
                    <span class="text-semibold"><i class="icon-pencil"></i> Chọn bố cục mẫu</span>
                </h1>
            </div>


        </div>
    </div>
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- display flash message -->
                <!-- main inner content -->

                <div class="row">
                    <div class="col-xxs-12 col-xs-6 col-sm-3 col-md-2">
                        <a href="https://appema.zozo.vn/templates/build/1_column">
                            <div class="panel panel-flat panel-template-style">
                                <div class="panel-body">
                                    <img src="https://appema.zozo.vn/images/template_styles/1_column.png" />
                                    <h5 class="mb-0 text-center">1 cột</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-3 col-md-2">
                        <a href="https://appema.zozo.vn/templates/build/1_2_column">
                            <div class="panel panel-flat panel-template-style">
                                <div class="panel-body">
                                    <img src="https://appema.zozo.vn/images/template_styles/1_2_column.png" />
                                    <h5 class="mb-0 text-center">1:2 cột</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-3 col-md-2">
                        <a href="https://appema.zozo.vn/templates/build/1_2_1_column">
                            <div class="panel panel-flat panel-template-style">
                                <div class="panel-body">
                                    <img src="https://appema.zozo.vn/images/template_styles/1_2_1_column.png" />
                                    <h5 class="mb-0 text-center">1:2:1 cột</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-3 col-md-2">
                        <a href="https://appema.zozo.vn/templates/build/1_3_column">
                            <div class="panel panel-flat panel-template-style">
                                <div class="panel-body">
                                    <img src="https://appema.zozo.vn/images/template_styles/1_3_column.png" />
                                    <h5 class="mb-0 text-center">1:3 cột</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-3 col-md-2">
                        <a href="https://appema.zozo.vn/templates/build/1_3_1_column">
                            <div class="panel panel-flat panel-template-style">
                                <div class="panel-body">
                                    <img src="https://appema.zozo.vn/images/template_styles/1_3_1_column.png" />
                                    <h5 class="mb-0 text-center">1:3:1 cột</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-3 col-md-2">
                        <a href="https://appema.zozo.vn/templates/build/1_3_2_column">
                            <div class="panel panel-flat panel-template-style">
                                <div class="panel-body">
                                    <img src="https://appema.zozo.vn/images/template_styles/1_3_2_column.png" />
                                    <h5 class="mb-0 text-center">1:3:2 cột</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-3 col-md-2">
                        <a href="https://appema.zozo.vn/templates/build/2_column">
                            <div class="panel panel-flat panel-template-style">
                                <div class="panel-body">
                                    <img src="https://appema.zozo.vn/images/template_styles/2_column.png" />
                                    <h5 class="mb-0 text-center">2 cột</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-3 col-md-2">
                        <a href="https://appema.zozo.vn/templates/build/2_1_column">
                            <div class="panel panel-flat panel-template-style">
                                <div class="panel-body">
                                    <img src="https://appema.zozo.vn/images/template_styles/2_1_column.png" />
                                    <h5 class="mb-0 text-center">2:1 cột</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-3 col-md-2">
                        <a href="https://appema.zozo.vn/templates/build/2_1_2_column">
                            <div class="panel panel-flat panel-template-style">
                                <div class="panel-body">
                                    <img src="https://appema.zozo.vn/images/template_styles/2_1_2_column.png" />
                                    <h5 class="mb-0 text-center">2:1:2 cột</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-3 col-md-2">
                        <a href="https://appema.zozo.vn/templates/build/3_1_3_column">
                            <div class="panel panel-flat panel-template-style">
                                <div class="panel-body">
                                    <img src="https://appema.zozo.vn/images/template_styles/3_1_3_column.png" />
                                    <h5 class="mb-0 text-center">3:1:3 cột</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

    <a style="display: none" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#delete_confirm_model">aa</a>
    <!-- Basic modal -->
    <div id="delete_confirm_model" class="modal fade new-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="confirm-delete-form form-validate-jquery" onkeypress="return event.keyCode != 13;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Bạn chắc chắn?</h4>
                    </div>

                    <div class="modal-body">

                        <h6 class="mt-0"></h6>

                        <div class="form-group">
                            <label class="text-normal">Nhập <strong>DELETE</strong> để xác nhận</label>
                            <input class="form-control required" name="delete" />
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Hủy</button>
                        <a class="btn btn-danger bg-grey delete-confirm-button ajax_link">Xóa</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /basic modal -->

    <a style="display: none" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#link_confirm_model">Open modal</a>
    <!-- Basic modal -->
    <div id="link_confirm_model" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="confirm-link-form" onkeypress="return event.keyCode != 13;">
                    <div class="modal-header bg-info-800">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Bạn chắc chắn?</h4>
                    </div>

                    <div class="modal-body">

                        <h6></h6>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Hủy</button>
                        <a class="btn bg-info-800 link-confirm-button ajax_link">Xác nhận</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /basic modal -->

    <a style="display: none" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#list_delete_confirm_model">aa</a>
    <!-- Basic modal -->
    <div id="list_delete_confirm_model" class="modal fade new-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="list-confirm-delete-form form-validate-jquery" onkeypress="return event.keyCode != 13;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Bạn chắc chắn?</h4>
                    </div>

                    <div class="modal-body">

                        <div class="content">

                        </div>

                        <div class="form-group">
                            <label class="text-normal">Nhập <strong>DELETE</strong> để xác nhận</label>
                            <input class="form-control required" name="delete" />
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Hủy</button>
                        <a class="btn btn-danger bg-grey list-delete-confirm-button ajax_link">Xóa</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /basic modal -->

    <a style="display: none" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#quota_modal"></a>
    <!-- Basic modal -->
    <div id="quota_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /basic modal -->

    <a style="display: none" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#copy_list"></a>
    <!-- Basic modal -->
    <div id="copy_list" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-teal">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Name your new list</h4>
                </div>
                <form action="https://appema.zozo.vn/lists/copy" method="POST" class="ajax_copy_list_form form-validate-jqueryz">
                    <input type="hidden" name="_token" value="SbIJJLMblP6s2oXiKms1xLisPnvygYMuKOHi6THZ">
                    <input type="hidden" name="copy_list_uid" />

                    <div class="modal-body">

                        <div class="form-group control-text">
                            <label>
                                What would you like to name your list?
                                <span class="text-danger">*</span>
                            </label>



                            <input id="copy_list_name" placeholder=""
                                   value=""
                                   type="text"
                                   name="copy_list_name"
                                   class="form-control required  ">




                        </div>


                        <div class="text-right">
                            <button type="submit" class="btn btn-info bg-teal-600 mr-5">Nhân bản</button>
                            <button type="button" class="btn btn-default ml-0 copy-list-close" data-dismiss="modal">Đóng</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- /basic modal -->

    <div class="ui-pnotify bg-warning" style="background-color: rgba(255,87,34,0.7); width: auto; right: 20px; top: auto; bottom: 20px; opacity: 1; display: block; overflow: visible; cursor: auto;">
        <div class="btn-close-pnotify"><i class="icon-cross2"></i></div>

        <!-- Alert if customer don't have any subscription -->
        <!-- Alert if customer have any subscription but none of them is active -->
        @*<div class="alert ui-pnotify-container alert-primary ui-pnotify-shadow" style="min-height: 16px; overflow: hidden;">
                <h4 class="ui-pnotify-title">
                    You are not subscribed to any active plan. <br /><a href="https://appema.zozo.vn/account/subscription">Click here</a> to check your subcriptions.
                </h4>
                <div style="margin-top: 10px; clear: both; text-align: right; display: none;"></div>
            </div>*@

        <!-- Alert if customer use their own sending servers but haven't had any one yet -->

    </div>

    <a style="display: none" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#copy_campaign"></a>
    <!-- Basic modal -->
    <div id="copy_campaign" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-teal">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tên chiến dịch mới</h4>
                </div>
                <form action="https://appema.zozo.vn/campaigns/copy" method="POST" class="ajax_copy_campaign_form form-validate-jquery">
                    <input type="hidden" name="_token" value="SbIJJLMblP6s2oXiKms1xLisPnvygYMuKOHi6THZ">
                    <input type="hidden" name="copy_campaign_uid" />

                    <div class="modal-body">

                        <div class="form-group control-text">
                            <label>
                                What would you like to name your campaign?
                                <span class="text-danger">*</span>
                            </label>



                            <input id="copy_campaign_name" placeholder=""
                                   value=""
                                   type="text"
                                   name="copy_campaign_name"
                                   class="form-control required  ">




                        </div>


                        <div class="text-right">
                            <button type="submit" class="btn btn-info bg-teal-600 mr-5">Nhân bản</button>
                            <button type="button" class="btn btn-default ml-0 copy-campaign-close" data-dismiss="modal">Đóng</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- /basic modal -->

    <a style="display: none" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#send_a_test_email"></a>
    <!-- Basic modal send a test email -->
    <div id="send_a_test_email" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-header bg-teal">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Gửi Email kiểm tra</h4>
            </div>
            <div class="modal-content">
                <form sending-text='<i class="icon-spinner10 spinner position-left"></i> Đang gửi... vui lòng đợi kết quả!' action="https://appema.zozo.vn/campaigns/send-test-email" method="POST" class="ajax_send_a_test_email_form form-validate-jquery">
                    <input type="hidden" name="_token" value="SbIJJLMblP6s2oXiKms1xLisPnvygYMuKOHi6THZ">
                    <input type="hidden" name="send_test_email_campaign_uid" />

                    <div class="modal-body">

                        <div class="form-group control-text">
                            <label>
                                Nhập địa chỉ email để thử chiến dịch
                                <span class="text-danger">*</span>
                            </label>



                            <input id="send_test_email" placeholder=""
                                   value=""
                                   type="text"
                                   name="send_test_email"
                                   class="form-control required  email">




                        </div>


                        <div class="text-right">
                            <button type="submit" class="btn btn-info bg-teal-600 mr-5"><i class="icon-paperplane ml-5"></i> Gửi</button>
                            <button type="button" class="btn btn-default ml-0 copy-campaign-close" data-dismiss="modal">Đóng</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- /basic modal -->
    <!-- Basic modal -->
    <div id="delete_auto_campaign_confirm_model" class="modal fade new-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="confirm-link-form" onkeypress="return event.keyCode != 13;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Bạn chắc chắn?</h4>
                    </div>

                    <div class="modal-body">

                        <h6 class="mt-0"></h6>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Hủy</button>
                        <a class="btn btn-danger bg-grey auto-campaign-delete-confirmed">Xác nhận</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /basic modal -->
    <!-- Basic modal -->
    <div id="delete_auto_event_confirm_model" class="modal fade new-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="confirm-link-form" onkeypress="return event.keyCode != 13;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Bạn chắc chắn?</h4>
                    </div>

                    <div class="modal-body">

                        <h6 class="mt-0"></h6>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Hủy</button>
                        <a class="btn btn-danger bg-grey auto-event-delete-confirmed">Xác nhận</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /basic modal -->

    <a style="display: none" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#full_modal"></a>
    <!-- Basic modal -->
    <div id="full_modal" class="modal fade">
        <div class="modal-dialog modal-full width100">
            <div class="modal-content">

                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /basic modal -->
    <!-- Basic modal -->
    <div id="list-form-modal" class="modal fade list-form-modal">
        <div class="modal-dialog modal-md">
            <div class="modal-header bg-teal">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bạn chắc chắn?</h4>
            </div>
            <div class="modal-content">
                <form action="" method="POST" class="ajax_upload_form form-validate-jquery">
                    <input type="hidden" name="_token" value="SbIJJLMblP6s2oXiKms1xLisPnvygYMuKOHi6THZ">
                    <input type="hidden" name="_method" value="">
                    <input type="hidden" name="uids" value="">

                    <div class="modal-body">
                        <h4></h4>
                        <div class="form-group control-textarea">
                            <label>
                                Mô tả
                            </label>



                            <textarea id="description" type="text" name="description" class="form-control "></textarea>




                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary bg-teal">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /basic modal -->
    <!-- Basic modal -->
    <div id="paid-form-modal" class="modal fade list-form-modal">
        <div class="modal-dialog modal-md">
            <div class="modal-header bg-teal">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bạn chắc chắn?</h4>
            </div>
            <div class="modal-content">
                <form action="" method="POST" class="ajax_upload_form form-validate-jquery">
                    <input type="hidden" name="_token" value="SbIJJLMblP6s2oXiKms1xLisPnvygYMuKOHi6THZ">
                    <input type="hidden" name="_method" value="">
                    <input type="hidden" name="uids" value="">

                    <div class="modal-body">
                        <h4></h4>
                        <div class="form-group control-text">
                            <label>
                                Mã số thuế
                                <span class="text-danger">*</span>
                            </label>



                            <input id="tax_number" placeholder=""
                                   value=""
                                   type="text"
                                   name="tax_number"
                                   class="form-control required  ">




                        </div>
                        <div class="form-group control-text">
                            <label>
                                Địa chỉ thanh toán
                                <span class="text-danger">*</span>
                            </label>



                            <input id="billing_address" placeholder=""
                                   value=""
                                   type="text"
                                   name="billing_address"
                                   class="form-control required  ">




                        </div>
                        <div class="form-group control-textarea">
                            <label>
                                Mô tả
                            </label>



                            <textarea id="description" type="text" name="description" class="form-control "></textarea>




                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary bg-teal">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /basic modal -->


    <a style="display: none" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#copy_plan"></a>
    <!-- Basic modal -->
    <div id="copy_plan" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-teal">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tên gói mới</h4>
                </div>
                <form action="https://appema.zozo.vn/admin/plans/copy" method="POST" class="ajax_copy_plan_form form-validate-jquery">
                    <input type="hidden" name="_token" value="SbIJJLMblP6s2oXiKms1xLisPnvygYMuKOHi6THZ">
                    <input type="hidden" name="copy_plan_uid" />

                    <div class="modal-body">

                        <div class="form-group control-text">
                            <label>
                                What would you like to name your Plan?
                                <span class="text-danger">*</span>
                            </label>



                            <input id="copy_plan_name" placeholder=""
                                   value=""
                                   type="text"
                                   name="copy_plan_name"
                                   class="form-control required  ">




                        </div>


                        <div class="text-right">
                            <button type="submit" class="btn btn-info bg-teal-600 mr-5">Nhân bản</button>
                            <button type="button" class="btn btn-default ml-0 copy-plan-close" data-dismiss="modal">Đóng</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{

}

