body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #F6F6F7;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: lightRoboto;
    src: url('../fonts/Roboto-Light.ttf');
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

button {
    outline: none;
}

@media (min-width: 1440px) {
    .container {
        max-width: 1700px;
    }
}

@media (min-width: 1210px) and (max-width: 1336px) {
    .container {
        max-width: 1290px !important;
    }
}

@media (width: 1242px) {
    .container {
        max-width: 1160px;
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.h-40 {
    height: 40px !important;
}

.process {
    width: 100%;
    height: 85px;
}

.process-bar-fail .progressbar-text {
    color: #828282 !important;
}

.process .progressbar-text {
    color: #000000 !important;
    font-size: 36px;
    font-weight: 600;
}

.process-group .progressbar-text {
    font-size: 18px !important;
    display: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: linear-gradient(265.7deg, rgb(20, 66, 156) 10.36%, rgb(44, 102, 192) 92.82%);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#fp-nav {
    display: none;
}

.s1 {
    background-color: #ffffff !important;
    position: relative;
}

.main-left {
    background: url('../img/Login-Signup/bg.png') center no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 100%;
}

.logo {
    position: absolute;
    top: 5%;
}

.txt-welcome {
    position: absolute;
    top: 24%;
    right: 10%;
    left: 10%;
}

.txt-lg1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: right;
    text-transform: uppercase;
}

.txt-lg2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
    padding-top: 30px;
}

.list-lv {
    list-style: none;
    position: absolute;
    top: 68%;
    right: 9%;
    left: 9%;
}

.item-gphap {
    text-align: center;
    font-size: 14px;
}

.txt-bq {
    position: absolute;
    top: 93%;
}

.all-login {
    position: relative;
    /* padding: 50px 95px 0; */
    background-color: #FCFCFC;
    height: 100%;
}

.main-registration {
    position: absolute;
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    top: 6%;
    left: 15%;
    right: 15%;
}

.our-log {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 83%;
}

.txt-res-1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #29398C;
}

.txt-res-2 {
    font-size: 16px;
    line-height: 25px;
    color: #828282;
    padding: 20px 0 25px;
}

.txt-res-2 a {
    color: #2F80ED;
}


/* --------check-mark------- */

.label-checkbox:hover input~.checkmark {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: .2s;
}

.label-checkbox input:checked~.checkmark {
    background-color: #f35f4d;
    border-radius: 4px;
    overflow: hidden;
}

.jan-table-cart .label-checkbox .checkmark {
    top: -3px;
}

.label-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px;
}

.label-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #DBDBDB;
}

.label-checkbox input:checked~.checkmark:after {
    display: block;
}

.label-checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* ------end-checkmark------ */

.ahuhu {
    display: flex;
    justify-content: space-between;
}

.txt-gback {
    font-size: 13px;
    line-height: 20px;
    color: #F26D21;
}

.contact-now {
    width: 100%;
    height: 48px;
    background: #F26D21;
    box-shadow: 0px 2px 10px rgba(255, 117, 85, 0.44);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.btn:hover {
    color: #ffffff;
}

.txt-logus {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.txt-logus-1 {
    font-size: 13px;
    line-height: 20px;
    align-items: center;
    color: #828282;
    width: 100%;
}

.line-logus {
    width: 100%;
    height: 1px;
    background-color: #DBDBDB;
}

.list-mxh {
    text-align: center;
    padding: 10px 100px 0;
}

.item-cate {
    text-align: center;
}

.cust-nav-top {
    font-size: 13px;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

.icon-nav {
    width: 32px;
    align-self: center;
}

.nav-item.cart .icon {
    position: relative;
}

.nav-item.cart .icon .amount {
    width: 20px;
    height: 20px;
    background: #EE7D22;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 9px;
    color: #fff;
    text-align: center;
    top: -2px;
    position: absolute;
    right: -3px;
    padding-top: 1.5px;
}

.dropdown-cart {
    font-size: 0.875rem;
    box-shadow: 6px 4px 20px rgba(0, 0, 0, 0.1);
    border: 0.3px solid #EDEDED;
    max-width: 100%;
    white-space: normal;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
}

.dropdown-cart .bottom-dropdown {
    background: #F2F2F2;
    padding: 1rem;
}

.dropdown-menu.dropdown-cart {
    min-width: 330px!important;
    margin-top: 1rem;
}

.item-cart {
    padding: 10px 5px;
    display: flex;
}

.cart-mobile {
    position: absolute;
    top: 4.5rem;
    width: 100%;
    padding: 1rem;
    box-shadow: 6px 4px 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 0;
    display: none;
}


/* ------cart------ */

.icon-acc {
    font-size: 20px;
    padding-left: 13px;
    color: #828282;
}

.notification {
    padding-right: 15px;
    border-right: 1px solid #F2F2F2;
}

.account {
    padding-left: 15px;
}

.header-nav {
    background-color: #ffffff;
}

li.nav-item.active {
    border-bottom: 2px solid #F26D21;
}

.kc-pt-20 {
    padding-top: 20px;
}

.kc-pt-10 {
    padding-top: 10px;
}

.clg1 {
    background-color: #ffffff;
    padding: 20px 30px;
}

.tit-action {
    position: relative;
    padding-bottom: 32px;
}

.txt-clg {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #333333;
}

.txt-clg-1 {
    position: absolute;
    top: -5px;
    right: -10px;
}

.list-actions {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.mn-action {
    color: #f26d21;
    padding: 10px 0;
    border: 1px solid #F26D21;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
}

.item-act {
    padding: 12px 0;
}

.modal-header {
    border-bottom: none;
}

select.form-control {
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 15px;
    color: #f26d21;
    background: rgba(242, 109, 33, 0.1);
    border: none;
    box-shadow: none;
}

.form-modal {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    color: #828282;
    box-shadow: none;
}

.form-modal:focus {
    border: transparent;
}

.reload {
    cursor: pointer;
}

.tit-thke-sl {
    justify-content: space-between;
}

.txt-tksl {
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.txt-tksl-1 {
    font-size: 12px;
}

ul.tabs {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
}

ul.tabs li {
    opacity: 0.7;
    display: inline-block;
    padding: 0px 15px;
    cursor: pointer;
}

li.tab-link.current {
    color: #ffffff;
    opacity: 1;
    font-weight: normal;
    background: #F26D21;
    padding: 5px 20px;
    border-radius: 25px;
}

.tab-cusdb {
    display: none;
}

.tab-cusdb.current {
    display: flex;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    flex-wrap: wrap;
}

.mota-thke {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    width: 100%;
    border-top: 4px solid #FA6767 !important;
    border: 1px solid #FA6767;
    padding: 8px 20px;
    margin-top: 20px;
}

.buy-email {
    color: #ffffff;
    background: #F26D21;
    border-radius: 25px;
    width: 129px;
    height: 34px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.all-chiso {}

.chiso-1 {
    flex: 35%;
}

.chiso-2 {
    flex: 25%;
}

.nb-1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
    color: #29398C;
}

.nb-2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
    color: #FFAB1B;
}

.nb-3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
    color: #FA6767;
}

.nb-4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
    color: #42AB44;
}

.main-data-custmer {
    padding: 17px 0 22px;
}

.txt-data-top {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.turn-chimuc {
    background-color: #DBDBDB;
    width: 163px;
    height: 32px;
    color: #ffffff;
    border-radius: 15px;
    padding: 0 5px;
    font-size: 13px;
    align-items: center;
}

.nb-turn {
    width: 24px;
    height: 24px;
    background-color: #828282;
    color: #ffffff;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.turn-chimuc.active {
    background-color: #F26D21;
    color: #ffffff;
}

.turn-chimuc.active .nb-turn {
    background-color: #FB8965;
    color: #ffffff;
}

.line-turn {
    border: 1px dotted #DBDBDB;
    width: 28px;
    height: 1px;
    margin: 0 6px;
}

.giaidoan {
    justify-content: center;
    align-items: center;
}

.add-group {
    /* padding: 20px; */
    display: flex;
    justify-content: flex-end;
}

.btn-addgr {
    color: #ffffff;
    background-color: #F26D21;
    border-radius: 25px;
}

.btn-del-camp {
    color: #000000;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 5px 35px;
    font-size: 14px;
}

.btn-del-camp:hover {
    color: #000000;
}

.btn-add-camp {
    color: #ffffff;
    background-color: #F26D21;
    border-radius: 25px;
    padding: 5px 35px;
    font-size: 14px;
}

i.drun {
    color: #42AB44;
    font-size: 8px;
    padding-right: 5px;
}

i.dstop {
    color: red;
    font-size: 8px;
    padding-right: 5px;
}

i.dpause {
    color: #FFAB1B;
    font-size: 8px;
    padding-right: 5px;
}

.txt-trangthai {
    font-size: 12px;
}

.cust-btn-chucnang {
    padding: 0;
    line-height: 0;
    outline: none;
}

.center {
    text-align: center;
}

.bg-fff {
    background-color: #ffffff;
}

.modal-footer {
    justify-content: space-between;
    font-size: 14px;
}

.btn-cancel:hover {
    color: #000000;
}

.cust-drop-chucnang {
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 12px;
    width: 100px !important;
}

.modal-footer .btn-addgr {
    width: 110px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cust-table {
    font-size: 13px;
}

thead {
    font-size: 14px;
    color: #828282;
    font-weight: normal !important;
}

.number-page {
    list-style: none;
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #000000;
    padding-left: 0;
}

.number-page a {
    color: #000000;
}

.nb-txt {
    width: 34px;
    height: 34px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nb-txt.nb-hover.active {
    background-color: #F26D21;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
}

.nb-txt.nb-hover:hover {
    background-color: #F26D21;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
}

.icon-pre {
    border: 1px solid #d3d3d3;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 10px;
    background-color: #ffffff;
}

.tke-turn {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #333333;
}

.all-turn-co,
.turn-con {
    color: #3F4FA5;
}

.tke-turn-sudung {
    color: #828282;
    font-size: 15px;
    line-height: 25px;
}

.turn-daco {
    font-weight: bold;
    font-size: 18px;
    color: #F26D21;
}

.process-list-khang {
    padding: 15px 0;
}

.tracuu-khhang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.cus-name {
    position: relative;
    width: 200px;
}

.cus-ic-box {
    position: absolute;
    left: 6px;
    top: 14%;
    opacity: 0.5;
    font-size: 18px;
    margin: 0;
    color: #000000;
}

.ip-css {
    background: #ffffff;
    outline: none;
    padding-left: 30px;
    height: 32px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    font-size: 13px;
    color: #828282;
}

.cust-colo {
    color: #2D9CDB;
    font-weight: 600;
}

.name-chitiet {
    background: #FCFCFC;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 4px 4px 0px 0px;
    font-size: 15px;
    padding: 10px 20px;
}

.body-info {
    padding: 10px 20px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
}

.info-history {
    padding-top: 20px;
}

.txt-add-info {
    font-size: 13px;
    color: #333333;
    margin-bottom: 0;
}

.cust-ip-add {
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    outline: none;
    font-size: 13px;
    height: 32px;
    width: 100%;
}

.pd-0-15 {
    padding: 15px 0;
}

.pd-0-12 {
    padding: 12px 0;
}

.pd-0-12:first-child {
    padding-top: 0;
}


/* -----Campaign----- */

.cust-label-opt {
    display: flex;
    align-items: center;
    margin: 0;
}

.filter-camp {
    padding: 20px;
}

.txt-add-1 {
    display: flex;
    align-items: center;
}

.txt-cp {
    font-size: 13px;
    color: #828282;
    text-align: center;
}

.nb-cp-fail {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #EB5757;
}

.search-dtmail {
    font-size: 15px;
    padding-left: 80px;
}

.ip-css-fk {
    background: transparent;
    outline: none;
    height: 40px;
    width: 256px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    font-size: 15px;
    color: #333333;
}

.btn-upload {
    border: 1px dashed #F26D21;
    padding: 60px 0 16px;
    margin: 12px 0 8px;
    position: relative;
}

.txt-upload-1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #333333;
}

.txt-upload-2 {
    margin-top: 30px;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #F26D21;
    padding: 6px 0px;
    text-align: center;
}

.cust-upload {
    opacity: 0;
    position: absolute;
    bottom: 10%;
}

.bgm {
    background: #F6F6F7;
    padding: 20px;
}

.list-group-item-x {
    color: #828282;
    background: transparent;
    font-size: 13px;
    border-color: transparent;
    padding: 16px 22px;
}

.list-group-item-x.active {
    z-index: 2;
    color: #F26D21;
    background-color: #fb89651a;
}

.bg-tab-content {
    background: #ffffff;
    padding: 20px;
}

.all-bill {
    padding-top: 20px;
}

.txtbill-1 {
    font-size: 13px;
    line-height: 20px;
    color: #828282;
}

.txtbill-2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #F26D21;
}

.list-hd {
    margin-top: 20px;
    font-size: 15px;
    color: #828282;
    background: #8282821a;
    padding: 15px 35px;
}

.list-bank {
    list-style: none;
    padding: 0;
}

.img-bank {
    border: 1px dashed #E0E0E0;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.name-bank {
    padding-top: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
}

.bank-detail {
    text-align: center;
}

.txt-info-bank {
    font-size: 14px;
    color: #333333;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.main-banks {
    padding: 0 120px;
}

.canhbao {
    border-top: 4px solid #FA6767 !important;
    border: 1px solid #FA6767;
    padding: 20px 18px;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    border-radius: 4px;
    font-weight: 600;
}

.bt-yc {
    text-align: center;
    padding: 30px;
}

.main-payment {
    padding-top: 18px;
}